<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IteMate"
        tools:targetApi="31">
        <activity
            android:name=".uiActivities.ScanActivity"
            android:exported="false" />
        <activity
            android:name=".uiActivities.contactScreens.ContactEditActivity"
            android:exported="false" />
        <activity
            android:name=".uiActivities.contactScreens.ContactDetailActivity"
            android:exported="false" />
        <activity
            android:name=".uiActivities.contactScreens.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".uiActivities.itemScreens.ItemsActivity"
            android:exported="false" />
        <activity
            android:name=".uiActivities.trackScreens.TrackEditActivity"
            android:exported="false" />
        <activity
            android:name=".uiActivities.trackScreens.TrackDetailActivity"
            android:exported="false" />
        <activity
            android:name=".uiActivities.itemScreens.ItemsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".uiActivities.itemScreens.ItemsEditActivity"
            android:exported="false" />
        <activity
            android:name=".uiActivities.trackScreens.TrackActivity"
            android:exported="false" />
        <activity
            android:name=".uiActivities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".uiActivities.homeScreen.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>